@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Sora:wght@100..800&display=swap');
.all-brands-1{
    background-color: #00945E;
    position: relative;
    height: 600px;
}
.all-brands__container-1{
    background: url('../animations/desktop-gif.gif');
    background-size: cover;
    background-position: center;
    height: 600px;
}
.all-brands__content-1{
    width: 500px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    top: 25%;
    left: 5%;
}
.all-brands__header-1{
    color: #fff;
    font-family: 'sora';
    font-size: 50px;
}
.all-brands__title-1{
    font-size: 30px;
    color: #fff;
    font-family: 'Geo';
}
.all-brands__btn-1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #00945E;
    font-weight: 700;
    font-family: 'sora';
    width: 200px;
    padding: 20px 20px;
    border-radius: 5px;
    background-color: #ffffff;
    transition: all .42s ease;
}
.all-brands__btn-1:hover{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.all-brands{
    width: 100%;
    height: 540px;
    background: url('/public/Carabao-cup-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.all-brands__container{
    padding: 120px 5%;
}
.all-brands__content{
    display: flex;
    margin-top: 18px;
    gap: 15px;
}
.all-brands__header{
    color: #fff;
    font-family: 'Geo';
    font-size: 437.5%;
    text-align: center;
    text-transform: uppercase;
}
.all-brands__description{
    font-size: 19px;
    color: #ffffffcc;
    /* color: #868181; */
    font-family: 'sora';
    text-align: center;
}
.all-brands__description-2{
    font-size: 16px;
    /* color: #868181; */
    color: #ffffffcc;
    font-family: 'sora';
    text-align: center;
}
.all-brands__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -90px;
    gap: 25px;
}
.all-brands__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-family: 'sora';
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #00945E;
    transition: all .42s ease;
    border: none;
}
.all-brands__btn:hover{
    background-color: #ffffff;
    color: #00945E;
    border: 2px solid #00945E;
}
.energy{
    position: absolute;
    left: 48%;
    top: 10%;
}

.carabao{
    padding-top: 200px;
    padding-bottom: 200px;
    background: url('/public/carabao-in.png') no-repeat scroll 50% / cover;
}
.carabao-cup-header{
    color: #fff;
    font-size: 65px;
    padding-left: 40px;
    font-family: 'Geo';

}

.all-brands__title{
    font-size: 30px;
    color: #fff;
    font-family: 'CustomRealFont';
}
.all-brands__cta{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    padding: 20px 20px;
    border-radius: 5px;
    background-color: #00945E;
    transition: all .42s ease;
}
.all-brands-products{
    background-size: cover;
    background-position: center;

    min-height: 600px;
    background-color: #ffffff;
}
.all-brands-products__title{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00945E;
    font-family: 'Geo', sans-serif;
    padding-top: 15px;
    font-size: 45px;
}
.all-brands-products__container{
    margin-top: 80px;
    margin: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: #fff;
    gap: 25px;
}
.all-brands-head{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
}
.carabao-history{
    width: 100%;
    background: url('/public/Spirit.png');
    background-position: center;
    background-size: cover;
    min-height: 600px;
}
.carabao-history__content{
    max-width: 400px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.carabao-history__container{
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
}
.carabao-history__description{
    font-size: 20px;
    font-family: 'Opinion Pro';
    line-height: 40px;
    color: #fff;
    margin-top: 20px;
}
.carabao-history__btn{
    color: #fff;
    padding-bottom: 8px;
    border-bottom: 2px solid #d33232;
}
.carabao-history__header{
    font-size: 45px;
    font-family: 'Geo';
}
.carabao-socials{
    background-color: #4fe1a9;
    width: 100%;
    height: 150px;
}

.all-brands-products__header{
    color: #00945E;
    font-family: 'Geo';
    font-size: 45px;
}
.all-brands-products__description{
    font-size: 23px;
    font-family: 'Opinion Pro';
    line-height: 40px;
    color: #000000;
}
.all-brands-products__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-family: 'sora';
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
    padding: 20px 20px;
    border-radius: 5px;
    background-color: #00945E;
    transition: all .42s ease;

}
.all-brands-products__btn:hover{
    background-color: #ffffff;
    color: #00945E;
    border: 2px solid #00945E;
}
.carabao-details{
    width: 100%;
    min-height: 600px;
    background-color: #00945E;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carabao-details__container{
    padding: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    
}
.carabao-details__content{
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    color: #fff;
}
.all-brands__cta:hover{
    background-color: transparent;
    border: 2px solid #fff;
}
.fruity-header{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    font-family: 'Opinion Pro';
}
.fruity-name{
    font-size: 18px;
    text-align: center;
    font-family: 'Opinion Pro';
}

a{
    text-decoration: none;
    color: #000000;

}
.all-brands-footer{
    /* background-color: #ffffff; */
    height: 300px;
    padding: 9% 8%;
}
.all-brands-footer__container{
    max-width: 1000px;
    height: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 200px;
}
.all-brands-footer__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}
.all-brands-footer__content p{
    color: #000000;
    font-family: 'sora';
    font-size: 15px;
}
.all-brands-footer__content-2{
    display: flex;
    gap: 60px;
}
.all-brands-footer__text{
    color: #00945E;
    font-family: 'sora';
    font-size: 16px;
}
.all-brands-footer__blog{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.all-brands-footer__blog a {
    font-size: 14px;
    font-family: 'sora';
}
.all-brands-footer__jobs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.all-brands-footer__jobs a {
    font-size: 14px;
    font-family: 'sora';
}
.footer__socials{
    display: flex;
    margin-top: 60px;
    gap: 20px;
}
.all-brands-footer__socials{
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    gap: 25px;
}

@media (max-width: 1200px){
    .all-brands__container-1{
        margin-left: -200px;
    }
    .all-brands__container {
        padding: 120px 0px;
    }
    .all-brands__content {
        gap: 0px;
    }
}
@media(max-width: 1024px){
    .brand-main-img {
        width: 300px;
        height: 100px;
    }
    .carabao_product_image_new{
        max-width: 300px;
        max-height: 300px;
    }
   .all-brands__content img{
       width: 350px;
       height: 350px;
   }
   .all-brands__header {
    color: #fff;
    font-family: 'Geo';
    font-size: 350%;
    text-align: center;
    text-transform: uppercase;
    }
    .all-brands__content {
        margin-top: 70px;
    }
    .all-brands-products__container {
        margin: 45px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        color: #fff;
        gap: 25px;
    }
    .all-brands__container-1{
        margin-left: -400px;
    }
    .all-brands__content-1{
        width: 450px;
        position: absolute;
        display: flex;
        font-family: 'Geo', sans-serif;
        flex-direction: column;
        align-items: flex-start;
        top: 30%;
        left: 5%;
    }
}
@media(max-width: 980px){
    .all-brands__container-1{
        margin-left: -400px;
    }
    .all-brands__content-1{
        width: 450px;
        position: absolute;
        display: flex;
        font-family: 'Geo', sans-serif;
        flex-direction: column;
        align-items: flex-start;
        top: 30%;
        left: 5%;
    }
}
@media(max-width: 950px){
    .all-brands{
        width: 100%;
        height: 700px;
    }
    .efl-logo {
        display: none;
    }
    .all-brands__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 18px;
        gap: 80px;
    }
    .all-brands__text {
        width: 500px;
    }
    .all-brands-products__container{
        margin: 65px 25px;
    }
    .carabao-history__container {
        padding: 65px 25px;
    }
    .carabao-history__content{
        max-width: 300px;
    }
    .all-brands-head {
        max-width: 350px;
    }
    .all-brands-products__header {
        font-size: 32px;
    }
    .all-brands-products__btn {
        font-size: 18px;
    }
    .all-brands-products__description {
        font-size: 18px;
        line-height: 30px;
    }
    .all-brands__content img{
        width: 300px;
        height: 300px;
    }
    .all-brands-img{
        width: 300px;
        height: 300px;
    }
    .carabao-history__img img{
        width: 300px;
        height: 300px;
    }
    .carabao{
        padding-bottom: 150px;
        padding-top: 150px;
    }
}
@media(max-width: 770px){
    .carabao{
        padding-bottom: 80px;
        padding-top: 80px;
    }
    .carabao-cup-content{
        color: #fff;
        width: 250px;
        font-family: 'Geo';
        padding-left: 0px;
    }
    .carabao-cup-header{
        font-size: 35px;
    }
    .all-brands-products__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .all-brands-img {
        max-width: 600px;
        max-height: 400px;
    }
    .all-brands-products__title {
        font-size: 32px;
    }
    .carabao-history__img img{
        max-width: 600px;
        max-height: 400px;
    }
    .carabao-history__header {
        font-size: 32px;
        font-family: 'Geo';
    }
    .carabao-history__description{
        font-size: 18px;
    }
    .all-brands-head {
        max-width: 600px;
    }
    .carabao-history__content{
        max-width: 600px;
    }
    .carabao-history__container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 25px;
    }
    .all-brands-footer__container {
        max-width: 1000px;
        height: 250px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 70px;
    }
    .all-brands__container-1{
        height: 300px;
        padding-top: 250px;
        margin-left: -350px;
    }
    .all-brands__content-1{
        width: 300px;
        font-family: 'Geo', sans-serif;
        position: absolute;
        top: 25%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        left: 5%;
    }
    .all-brands__header-1{
        color: #fff;
        font-size: 40px;
        font-family: 'Geo', sans-serif;
    }
    .all-brands__title-1{
        font-size: 25px;
        line-height: 30px;
        color: #fff;
        font-family: 'Geo', sans-serif;
    }

}
@media (max-width: 500px){
    .all-brands-footer__container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        gap: 70px;
    }
    .carabao-cup-header{
        color: #fff;
        font-size: 25px;
        max-width: 350px;
        font-family: 'Geo';
    
    }
    .carabao{
        padding-bottom: 70px;
        padding-top: 70px;
    }
    .carabao-cup-content{
        color: #fff;
        width: 200px;
        font-family: 'Geo';
        padding-left: 0px;
    }
    .all-brands-footer {
        height: 400px;
    }
    .all-brands__text {
        max-width: 350px;
    }
    .all-brands__header {
        color: #fff;
        font-family: 'Geo';
        font-size: 250%;
        text-align: center;
        text-transform: uppercase;
    }
    .all-brands__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 18px;
        gap: 56px;
    }
    .all-brands__description, .all-brands__description-2 {
        font-size: 17px;
        color: #ffffffcc;
        font-family: 'sora';
        text-align: center;
    }
}

@media (max-width: 450px){
    .all-brands-1{
        display: flex;
        flex-direction: column-reverse;
        min-height: 800px;
    }
    .all-brands__content-1{
        max-width: 300px;
        position: absolute;
        display: flex;
        flex-direction: column;
        font-family: 'Geo', sans-serif;
        align-items: flex-start;
        gap: 24px;
        top: 5%;
        left: 22%;
    }
    .all-brands__container-1{
        height: 300px;
        padding-top: 180px;
        margin-left: -600px;
    }
    .all-brands__header-1, .all-brands__title-1{
        font-family: 'Geo', sans-serif;
    }
    .all-brands__content img {
        width: 250px;
        height: 250px;
    }
    .all-brands__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 18px;
        gap: 109px;
    }
    .carabao-cup-header{
        color: #fff;
        font-size: 21px;
        width: 130px;
        font-family: 'Geo';
    
    }
    .carabao{
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .carabao-cup-content{
        color: #fff;
        width: 150px;
        font-family: 'Geo';
        padding-left: 0px;
    }
}
@media (max-width: 400px){
    .all-brands__content-1{
        position: absolute;
        display: flex;
        font-family: 'CustomRealFont', sans-serif;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 24px;
        top: 5%;
        left: 20%;
    }
}
@media (max-width: 360px){
    .all-brands__text {
        max-width: 270px;
    }
    .all-brands__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 18px;
        gap: 65px;
    }
    .carabao-cup-header{
        color: #fff;
        font-size: 20px;
        max-width: 350px;
        font-family: 'Geo';
    
    }
    .carabao{
        padding-bottom: 52px;
        padding-top: 52px;
    }
    .carabao-cup-content{
        color: #fff;
        width: 130px;
        font-family: 'Geo';
        margin-left: -20px;
    }
    .all-brands__content-1{
        position: absolute;
        display: flex;
        font-family: 'CustomRealFont', sans-serif;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 24px;
        top: 5%;
        left: 18%;
        margin-top: 15px;
        width: 220px;
    }
    .all-brands-1{
        min-height: 400px;
    }
    .all-brands__container-1{
        background: url('../animations/mobile2.gif');
        background-size: cover;
        background-position: center;
        padding-top: 350px;
        margin-left: 20px;
    }
    .all-brands__header-1{
        color: #fff;
        font-family: 'Geo', sans-serif;
        font-size: 35px;
        font-weight: 700;
        line-height: 50px;
    }
    .all-brands__title-1{
        font-size: 20px;
        line-height: 18px;
        color: #fff;
        font-family: 'Geo', sans-serif;
    }
    .all-brands__btn-1{
        font-size: 15px;
        font-family: 'Geo', sans-serif;
        padding: 15px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        font-weight: 800;
    }
}