.brands{
    min-height: 400px;
    background: #ffffff;
    padding: 10% 5%;
    position: relative;
}

.brands__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    max-width: 1100px;
    min-height: 400px;
    background: linear-gradient(to right, #D7FC70 23%, #29AE29 71%);
    border-radius: 10px;
    padding: 30px 50px;
}

.element-1{
    position: absolute;
    left: 5%;
    top: 18%;

}
.element-2{
    position: absolute;
    top: 31%;
    left: 5%;    
}
.element-3{
    position: absolute;
    top: 25%;
    right: 40%;
    z-index: 0;
}
.brands__content{
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    gap:5px;
    color: #000000;
    position: relative;
}
.brands__content h2{
    font-size: 50px;
    font-family: 'sora';
    margin-bottom: 0;
}
.brands__content p{
    font-size: 15px;
    font-family: 'sora';
}
.brands__content-btn{
    width: 180px;
    height: 45px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-family: 'sora';
    color: #ffffff;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background: #146B38;
    position: absolute;
    bottom: -50%;
    transition: all 0.42s ease;
}
.brands__content-btn:hover{
    background-color: transparent;
    border: 2px solid #146B38;
    color: #000;
}
@media (max-width: 1440px){
    .element-1{
        position: absolute;
        left: 5%;
        top: 17.8%;
    }
    .element-2{
        position: absolute;
        top: 33.2%;
        left: 5%;
    }
    .element-3{
        position: absolute;
        top: 25%;
        right: 34.4%;
        z-index: 1000;
    }

}
@media (max-width: 1199px){
    .element-1{
        position: absolute;
        left: 7.9%;
        top: 17%;
    
    }
    .element-2{
        position: absolute;
        top: 25%;
        left: 7.9%;
    }
    
}
@media (max-width: 1024px){
    .element-1{
        position: absolute;
        left: 5%;
        top: 15.4%;
    
    }
    .element-2{
        position: absolute;
        top: 32%;
        left: 5%;
    }
    .element-3{
        display: none;
    }
    
}

@media (max-width: 768px){
    .brands__container{
        max-width: 768px;
     }
     .brand-content-img-2{
        width: 250px;
        height: 150px;
     }
     .element-1{
        position: absolute;
        left: 5%;
        top: 12.7%;
    
    }
    .element-2{
        position: absolute;
        /* top: 200px; */
        top: 30.4%;
        left: 5%;
    }
     .water-bg{
        width: 100px;
        height: 100px;
     }
     .element-3{
        position: absolute;
        top: 35%;
        right: 41.8%;
        z-index: 0;
    }
    .brands__content h2{
        font-size: 40px;
        font-family: 'sora';
    }
}

@media (max-width: 690px){
    .brands__container{
        max-width: 690px;
     }
     .element-1{
        position: absolute;
        left: 5%;
        top: 11.6%;
    
    }
    .element-2{
        position: absolute;
        /* top: 200px; */
        top: 30.1%;
        left: 5%;
    }
    .element-3{
        position: absolute;
        top: 35%;
        right: 41.8%;
        z-index: 0;
    }
    .brands__content h2{
        font-size: 35px;
        font-family: 'sora';
    }

}
@media (max-width: 479px){
    .brands{
        padding:4% 0%;
        position: relative;
        margin-bottom: 50px;
    }
    .brands__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 0px;
        gap: 100px;
    }
    .element-1{
        display: none;
    }
    .element-2{
        display: none;
    }
    .element-3{
        display: none;
    }
    .brands__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        width: 250px;
        margin-left: 40px;
        height: 150px;
        color: #000000;
    }
    .brands__content h2{
        font-size: 35px;
        font-family: 'sora';
        padding-bottom: 0;
    }
    .brands__content p{
        font-size: 12px;
        font-family: 'sora';
    }
    .brands__content-btn{
        width: 130px;
        height: 25px;
        font-size: 15px;
        position: absolute;
        bottom: -35%;
    }
    .brand-content-img-2 {
        margin-top: 0px;
    }
}

@media(max-width: 380px){
    .brands{
        margin-top: 60px;
    }
    .brands__content{
        width: 250px;
    }
}