.brands{
    position: relative;
    height: 550px;
    background: #ffffff;
    padding: 8% 8%;
}

.brands__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    max-width: 1100px;
    height: 400px;
    background: linear-gradient(to right, #D7FC70 23%, #29AE29 71%);
    border-radius: 10px;
    padding: 30px 50px;
}

.element-1{
    position: absolute;
    left: 6.5%;
    top: 17%;

}
.element-2{
    position: absolute;
    /* top: 200px; */
    top: 25%;
    left: 6.5%;
    
}
.element-3{
    position: absolute;
    top: 25%;
    right: 36%;
    z-index: 0;
}
.brands__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    color: #000000;
}
.brands__content h2{
    font-size: 50px;
    font-family: 'sora';
}
.brands__content p{
    font-size: 15px;
    font-family: 'sora';
}

@media (max-width: 1199px){
    .element-1{
        position: absolute;
        left: 7.9%;
        top: 17%;
    
    }
    .element-2{
        position: absolute;
        /* top: 200px; */
        top: 25%;
        left: 7.9%;
        
    }
    
}

@media (max-width: 768px){
    .brands__container{
        max-width: 768px;
     }
     .brand-content-img-2{
        width: 250px;
        height: 150px;
     }
     .element-1{
        position: absolute;
        left: 7.9%;
        top: 11%;
    
    }
    .element-2{
        position: absolute;
        /* top: 200px; */
        top: 20%;
        left: 7.9%;
    }
     .water-bg{
        width: 100px;
        height: 100px;
     }
     .element-3{
        position: absolute;
        top: 35%;
        right: 41.8%;
        z-index: 0;
    }
    .brands__content h2{
        font-size: 40px;
        font-family: 'sora';
    }
}


@media (max-width: 479px){
    .brands__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        height: 400px;
        padding: 30px 20px;
    }
    .element-1{
        display: none;
    
    }
    .element-2{
        display: none;
    }
    .element-3{
        display: none;
    }
    .brands__content{
        display: flex;
        flex-direction: column;
        /*  */
        gap: 20px;
        width: 250px;
        color: #000000;
    }
    .brands__content h2{
        font-size: 30px;
        font-family: 'sora';
    }
    .brands__content p{
        font-size: 12px;
        font-family: 'sora';
    }
}