@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Sora:wght@100..800&display=swap');
header{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: #00945E;
}
.navbar__menu-logout{
    display: flex;
    align-items: center;
}
.navbar__link-logout{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 10px 20px;
    font-family: 'CustomFont', sans-serif;
    color: #ffffff;
    transition: all .42s ease;
}
.navbar__link:hover{
    color: #000000;
    background-color: #ffffff;
}
.navbar__cta-logout{
    display: flex;
    color: #fff;
    align-items: center;
}
.navbar__cta-btn{
    transition: all .42s ease;
    color: #fff;
    margin-right: 15px;
}
.navbar__cta-menu{
    display: none;
}
.navbar__cta-btn-menu-logout{
    display: none;

}
.navbar__cta-img-logout{
    filter: brightness(0) invert(1);
}
.navbar__cta-img:hover {
    transform: scale(1.1);
}

.carabao-real__container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 80px 5%;
}

.carabao-real__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    gap: 15px;
}
.carabao-real__title{
    font-size: 40px;
    color: #00945E;
}
.carabao-real__price, .carabao-real__size{
    font-size: 17px;
    color: #000000;
}
.price-span{
    text-decoration: line-through;
    padding-right: 10px;
}
.carabao-real__select{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 17px;
    border: none;
    outline: none;
    border-bottom: 2px solid #000000;
    padding-bottom:7px;
}
.carabao-real__cta{
    width: 100%;
}
.carabao-real__cta-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #00945E;
    border: none;
}
.carabao-real__cta-btn:hover{
    transition: all .42s ease;
    background-color: #00603d;
}
#quantity{
    border: none;
    outline: none;
    border-bottom: 2px solid #000000;
    font-size: 17px;
}

@media (max-width: 768px){
    .carabao-real__container{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .carabao-real__title {
        font-size: 40px;
        color: #00945E;
        width: 100%;
    }
}

@media(max-width:595px){
    .drink-pack-2{
        max-width: 350px;
        max-height: 350px;
    }
    .carabao-real__title {
        font-size: 35px;
    }
    .navbar__cta-btn-menu-logout{
        display: flex;
        background-color: transparent;
        border: none;
    }
    .navbar__menu-2 {
        display: none; 
        flex-direction: column;
        align-items: flex-start;
      }
    .cross{
        background: url('/bx-x.svg')   
     }

    .navbar__menu-logout.navbar__menu--open {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        gap: 30px;
        top: 95%;
        right: 0.0%;
        padding-top: 30px;
        background-color: #00945E;
        color: #fff;
        width: 50%;
        height: 66vh;
        overflow-y: auto;
        opacity: 1;
      }
    .navbar__cta-btn {
      display: none;
    }
    .navbar__cta-btn-menu{
      display: block;
  }
  .log-in{
      display: block;
  }
  
    .navbar__cta-menu {
      display: block;
    }
    .navbar__menu-logout, .navbar__cta-btn{
        display: none;
    }
}

@media(max-width:595px){
    .carabao-real__title {
        font-size: 28px;
    }
    .drink-pack-2{
        max-width: 300px;
        max-height: 300px;
    }
}