@font-face {
    font-family: 'CustomFont';
    src: url('/public/fonts/hemi head bd it.otf') format('otf'),
         url('/public/fonts/hemi head bd it.otf') format('otf'),
         url('/public/fonts/hemi head bd it.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* If you have different styles or weights, define them as well */
@font-face {
    font-family: 'Opinion Pro';
    src: url('/public/fonts/Mint Type - Opinion Pro Condensed Light.otf') format('woff2'),
         url('/public/fonts/Mint Type - Opinion Pro Light.otf') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
     font-family: 'CustomRealFont';
     src: url('/public/fonts/vipnagorgialla bd it.otf') format('woff2'),
          url('/public/fonts/vipnagorgialla bd.otf') format('woff'),
          url('/public/fonts/vipnagorgialla rg it.otf') format('woff'),
          url('/public/fonts/vipnagorgialla rg.otf') format('woff');
     font-weight: bold;
     font-style: normal;
 }