a{
    text-decoration: none;
    color: #fff;

}

.footer{
    background-color: #111111;
    width: 100%;
    height: 400px;
    padding: 9% 8%;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}
.footer__container{
    max-width: 1000px;
    height: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 200px;
}
.footer__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}
.footer__content p{
    color: #fff;
    font-family: 'sora';
    font-size: 15px;
}
.footer__content-2{
    display: flex;
    gap: 60px;
}
.footer__text{
    color: #D7FC70;
    font-family: 'sora';
    font-size: 16px;
}
.footer__blog{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.footer__blog a {
    font-size: 14px;
    font-family: 'sora';
}
.footer__jobs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.footer__jobs a {
    font-size: 14px;
    font-family: 'sora';
}
.footer__socials{
    display: flex;
    margin-top: 60px;
    gap: 20px;
}


@media (max-width: 1199px){
    
}

@media (max-width: 479px){
    .footer{
        padding: 10% 5%;
        height: 570px;
    }
    .footer__container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 100px;
    }
    .footer__content{
        gap: 20px;
    }

    .footer__socials{
        margin-bottom: 20px;
    }
}