
.navbar__link-normal-cart{
    color: #fff;
    text-decoration: none;
    font-size: min(6vmin, calc(1rem + 0.23vmax));
    font-family: 'Geo';
}
.navbar__link-normal-cart:hover{
    border-bottom: 2px solid #ffffff;
}
.navbar__link-normal-cart-real{
    opacity: 0;
}
.navbar__cta{
    display: flex;
    color: #fff;
    align-items: center;
}
.navbar__cta-btn{
    transition: all .42s ease;
    color: #fff;
    margin-right: 15px;
}
.navbar__cta-img-normal-cart{
    filter: brightness(0) invert(1);
}
.navbar__cta-btn-menu-cart{
    display: none;
}
.navbar__cta-img{
    filter: brightness(0) invert(1);
}

@media (max-width: 700px) {
    .navbar__link-normal-cart-real{
      opacity: 1;
      color: #fff;
    text-decoration: none;
    font-size: min(6vmin, calc(1rem + 0.23vmax));
    font-family: 'Geo';
    }
}

@media (max-width: 595px) {
    .navbar__link-normal-cart-real{
      opacity: 1;
      color: #fff;
    text-decoration: none;
    font-size: min(6vmin, calc(1rem + 0.23vmax));
    font-family: 'Geo';
    }
}