/* section{
    margin-top: 500px;
} */
.product{
    width: 100%;
    height: 750px;
    /* background: #9bad9b; */
    background: #29AE29;
}
.product__btns{
    display: flex;
    gap: 25px;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}
.product__btn{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    /* padding: 15px; */
}
.product__btn-img{
    filter: invert(49%) sepia(90%) saturate(3313%) hue-rotate(75deg) brightness(98%) contrast(89%);
}
.product__btn:hover{
    background: #29AE29;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    transition: all 0.5s;
    filter: brightness(0) invert(1);
}
.product__title{
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}
.product__title h1{
    font-family: 'sora';
    font-weight: 700;
    font-size: 30px;
}
.product__body-img{
    background: url('/water.png');
    width: 300px;
    height: 280px;
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 0;
}

.product__container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10% 5%;
    gap: 80px;
    /* padding: 10%; */
}
.product__content{
    display: flex;
    flex-direction: column;
    gap:24px;
    width: 400px;
    height: 500px;
    color: #fff;
}
.product__heading{
    max-width: 300px;
    font-size: 32px;
    line-height: 45px;
    font-family: 'sora';
}
.product__description{
    font-size: 15px;
    font-family: 'sora';
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.product__name{
    font-size: 20px;
    color: #29AE29;
    font-family: 'sora';
}

.product__content-img{
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product__cta{
    width: 150px;
    height: 58px;
    background-color: #fff;
    color: #29AE29;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border-radius: 7px;
    color: #29AE29;
    font-family: 'sans-serif';
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s;
}
.product__cta:hover{
    background-color: #146B38;
    color: #fff;
    transition: all 0.5s;
}



/* background: linear-gradient(to right, #D7FC70 23%, #29AE29 71%); */
