@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.about{
    background-color: #ffffff;
    padding: 10% 5%;
}
.about__container{
    /* border: 2px solid #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.about__title-1, .about__title-2, .about__title-3{
    font-size: 48px;
    font-weight: 800;
    line-height: 45px;
    letter-spacing: 1.5px;
    color: #041D0FCC;
    font-family: 'CustomFont';
    display: flex;
    align-items: center;
}
.about__text{
    display: flex;
    align-items: center;
}
.about-description{
    display: flex;
    align-items: flex-start;
    gap: 80px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.about__description-1{
    font-size: 16px;
    font-weight: 300;
    max-width: 480px;
    font-weight: 500;
    font-style: normal;
    line-height: 27px;
    color: #000;
}
.about-description-story{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 60px;
    border-top: 1px solid #D02227;
    border-bottom: 1px solid #D02227;
}
.about__description-story-text{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #D02227;
}
.services__container{
    max-width: 1200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 100px;
    font-family: 'sora';
}

.services__container-1{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
}
.services__container-1-1{
    display: flex;
    align-items: center;
}
.services__container-1-img{
    filter: invert(84%) sepia(39%) saturate(548%) hue-rotate(35deg) brightness(103%) contrast(92%);
}
.services__title{
    font-size: 19px;
    color: #D7FC70;
}
.services__container-1-description{
    font-size: 30px;
    font-family: 'Geo-Light';
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 1.5px;
    color: #D7FC70;
    
}
.services__container-1-text{
    font-size: 15px;
    font-family: 'sora';
    font-weight: 300;
    line-height: 24px;
    color: #fff;
}
.services__container-1-cta{
    font-size: 15px;
    font-family: 'sora';
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #D7FC70;
    transition: all 0.3s ease;
}
.services__container-1-cta:hover{
    border: 1px solid #D7FC70;
    padding: 10px;
    width: 100px;
    height: 40px;
}
.services__container-4{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
}
.services__container-4-4{
    display: flex;
    align-items: center;
}
.services__container-4-img, .services__container-1-cta-img{
    filter: invert(84%) sepia(39%) saturate(548%) hue-rotate(35deg) brightness(103%) contrast(92%);
}